version: "3.8"

services:
  frontend:
    build:
      context: ./front-end
      dockerfile: Dockerfile
    image: softy-pinko:task4
    container_name: softy-pinko-frontend-task4
    ports:
      - "9000:9000"
    depends_on:
      - backend

  backend:
    build:
      context: ./back-end
      dockerfile: Dockerfile
    image: softy-pinko-back-end:task4
    container_name: softy-pinko-backend-task4
    ports:
      - "5252:5252"